/*
Theme Name: Twitter Bootstrap Theme
Theme URI: http://www.cesardelacruz.es
Description: The 2012 default twitter bootstrap theme.
Author: Cesar de la Cruz
Author URI: http://www.cesardelacruz.es
Version: 1.0
Tags: twitter, bootstrap, responsive, grid

License: Apache
License URI: 

General comments (optional).
*/
@import "css/bootstrap.css";
@import "css/bootstrap-responsive.css";
@import "css/prettify.css";
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:700);

/* Spacing from the navbar*/
body {
	padding-top: 50px;
}

/* Deleting the link color in the titles */
h1 a, h2 a {
	color: inherit;
}

header {
    font-family: 'Droid Sans', sans-serif;
    text-shadow: 1px 1px 2px #AAAAAA;
    font-size: 1.5em;
}

.subhead h1 {
    font-size: 1.8em;
}

/* Defining a proper space for each article */
article {
	border-bottom: 1px solid #DDD;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

/* Defining a proper space for the footer */
footer {
	border-top: 1px solid #E8E8E8;
	margin-top: 10px;
	padding-top: 10px;	
}

/* Defining proper style for the sidebar elements */
aside ul ul {
    list-style: none;
    margin-left: 5px;
}

object, img, video, audio {
    max-width: 100%;
}

/* Defining proper style for the sidebar widgets */
.widget {
    margin-bottom: 5px;
}

.widget li {
    margin-bottom: 3px;
}

/* Defining proper style for the twitter widget (if used) */
.twitter li {
    border-bottom: 1px solid #DDD;
    padding: 6px 0;
    color:  #333333;
}

/* Change the (super)ugly code color*/
code {
    color: #AA6633;
}

/* Default style to use in the content */
.right { float: right; }
.text-center { text-align: center;}

.middle a, .middle img{
    display: inline-block;
    vertical-align: middle;
}

/* Style for Comments */
#commentform label {
	display: inline-block;
}

#commentform input, #commentform textarea {
	width: auto;
}

/* Adapting nav current page from wordpres to active style on bootstrap*/
.navbar .nav .current_page_item > a, .navbar .nav .current_page_item > a:hover {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar-inverse .nav .current_page_item > a, .navbar-inverse .nav .current_page_item > a:hover {
  color: white;
  background-color: #111;
}
.children{display:none;}

/* Calendar (If used) */
.widget_calendar h2 {
    display: none;
}
.widget_calendar table#wp-calendar {
    border: 1px solid #CCCCCC;
    width: 100%;
    border-collapse: inherit;
    border-spacing: 1px;
}
.widget_calendar table#wp-calendar th, .widget_calendar table#wp-calendar td {
    text-align: center;
}
.widget_calendar table#wp-calendar thead th {
    background: none repeat scroll 0 0 #CCCCCC;
    border: 0 none;
    color: #FFFFFF;
    font-weight: bold;
}
.widget_calendar table#wp-calendar tbody td {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 0 none;
    color: #555555;
}
.widget_calendar table#wp-calendar tbody td.pad {
    background: none repeat scroll 0 0 #FFFFFF;
}
.widget_calendar table#wp-calendar tfoot td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
}
.widget_calendar table#wp-calendar caption {
    color: #AAAAAA;
    font-style: italic;
    text-align: right;
}
